.draggableConnection {
    position: absolute;
    border: 1px solid #000;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: move;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 8px;
    font-size: clamp(14px, 2vw, 18px);
    font-weight: bold;
    z-index: 1;
    transform: translate3d(0, 0, 0);
    user-select: none;  
}
.draggableConnection.dragging {
    z-index: 10;
}

.svgImage {
    margin-right: 10px;
}