  
/*
  bleu foncé : #4A81F8
  bleu : #739BF2
  bleu clair : #A8C0F3

  gris foncé : #404040
  gris : #A6A8AD
  gris clair : #F7F1F2
*/

.inputStyle {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #739BF2;
    font-size: 0.8vw;
    outline: none;
    transition: border-color 0.3s ease;
    box-sizing: border-box;
    margin-top: 5%;
  }
  
  .submitButtonStyle {
    width: 60%;
    padding: 10px;
    background-color: #739BF2;
    color: #F7F1F2;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1.2vw;
    box-sizing: border-box;
    margin-top: 10%;
  }
  .submitButtonStyle:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease;
  }
  
  .swapLoginButtonStyle {
    border-radius: 10px;
    background-color: #F7F1F2;
    color: #4A81F8;
    padding: 10px;
    font-size: 1vw;
    margin-top: 10px;
    cursor: pointer;
  } 
  .swapLoginButtonStyle:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease;
  }
  