.titleDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.titleDiv-font {
    font-size: 30px;
}

.titleDiv-underline {
    width: 20%;
    background-color: #739BF2;
    height: 5px; 
    border-radius: 20px;
}

.container {
    margin: 2%; 
    display: flex; 
    flex-wrap: wrap; 
    gap: 16px; 
    justify-content: center;
}

.plusCard {
    border: 2px solid #739BF2; 
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.plusCard:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.plusCardConnections {
    width: 15vh; 
    height: 20vh;
}

.plusCardPortfolios {
    width: 30vh; 
    height: 20vh;
}

.plusSvg {
    width: 8vh; 
    height: 8vh; 
}

.connectionSvg {
    width: 8vh; 
    height: 8vh;
}

.titleCard {
    text-align: center;
    font-weight: 700;
    max-width: 90%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.deleteButton {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

.deleteIcon {
    width: 16px;
    height: 16px;
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;
}

.deleteIcon:hover {
    opacity: 1;
}
