---
import Layout from '../layouts/Layout.astro';
import LoginForm from '../components/LoginForm';
import { AuthProvider } from '../hooks/AuthProvider';
---
<Layout title='Login'>
    <AuthProvider>
        <main>
            <LoginForm client:load />
        </main>
    </AuthProvider>
</Layout>
